[submodule "docker/admin-back-news-service"]
	path = docker/admin-back-news-service
	url = https://github.com/PauloAlmeidaBrasa/admin-back-news.git
[submodule "docker/admin-front-news-service"]
	path = docker/admin-front-news-service
	url = https://github.com/PauloAlmeidaBrasa/admin-front-news.git
