[submodule "admin-back-news-service"]
	path = admin-back-news-service
	url = https://github.com/PauloAlmeidaBrasa/admin-back-news-service.git
[submodule "admin-front-news-service"]
	path = admin-front-news-service
	url = https://github.com/PauloAlmeidaBrasa/admin-front-news-service.git
[submodule "admin-news-back-node"]
	path = admin-news-back-node
	url = https://github.com/PauloAlmeidaBrasa/admin-news-back-node.git
[submodule "news-app"]
	path = news-app
	url = https://github.com/PauloAlmeidaBrasa/news-app.git
[submodule "api-news-app"]
	path = api-news-app
	url = https://github.com/PauloAlmeidaBrasa/api-news-app.git
