version: '3.8'
services:
  admin-back-news-service:
    build:
      context: ./admin-back-news-service/
      dockerfile: Dockerfile
    networks:
      - backend-network
    depends_on:
      - db

  admin-front-news-service:
    build:
      context: ./admin-front-news-service
      dockerfile: Dockerfile

  #news-app:
  #  build:
 #     context: ../news-app
  #    dockerfile: docker/news-app/Dockerfile
  #  ports:
  #    - "8080:8080"

  db:
    image: mysql:8.0
    container_name: admin-backend-db
    restart: unless-stopped
    environment:
      # MYSQL_ALLOW_EMPTY_PASSWORD: true
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: news_back_db
      MYSQL_USER: laravel
      MYSQL_PASSWORD: 123
  
    volumes:
      - db-data:/var/lib/mysql
    networks:
      - backend-network

volumes:
  db-data:

networks:
  backend-network:
    driver: bridge